/* === FONTS === */

@font-face {
  font-family: 'Overpass';
  src: url('assets/fonts/overpass-v19-latin-regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Overpass';
  src: url('assets/fonts/overpass-v19-latin-700.woff2') format('woff2'); 
  font-weight: 700;
  font-style: normal;
  font-display: swap; 
}

/* === CSS RESET === */

/* Box sizing rules */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

:root {
  /* == COLOR PALLETTE == */

  /* Primary Color */
  --clr-orange-500: hsl(25, 97%, 53%);

  /* Neutral Colors */
  --clr-grey-500: hsl(217, 12%, 63%);
  --clr-grey-900: hsl(213, 19%, 18%);
  --clr-grey-850: hsl(207, 14%, 25%);
  --clr-grey-950: hsl(218, 12%, 18%);
  --clr-white: hsl(0, 100%, 100%);
  
  /* == TYPOGRAPHY == */

  /* font family */
  --ff-body: 'Overpass', sans-serif;

  /* font size */
  --fs-paragraph: 0.89rem;

  /* font weights */
  --fw-regular: 400;
  --fw-bold: 700;

  /* Spacing */
  --space-xs: 0.5rem;
  --space-sm: 1rem;
  --space-md: 1.5rem;
  --space-lg: 2rem;
  --space-xlg: 2.5rem;
  --space-xxlg: 3rem;
}

@media (prefers-reduced-motion: reduce) {
  .rate--btn {
    transition: none;
  }

  .submit--btn {
    transition: none;
  }
}

body {
  min-height: 100svh;
  background-color: var(--clr-grey-950);
  display: grid;
  place-items: center;
  font-family: var(--ff-body);
  line-height: 1.5;
}

.main__component--card {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sr-only {
  position: absolute;
  width: 0.0625rem;
  height: 0.0625rem;
  padding: 0;
  margin: -0.0625rem;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0
}

.rating--card, .success--state {
  width: 90%;
  max-width: clamp(28rem, 30vw, 36rem);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: var(--space-md);
  background-color: var(--clr-grey-900);
  border-radius: var(--space-md);
  padding: var(--space-lg) var(--space-md);
  font-size: var(--space-md);
}

.star-wrapper {
  width: var(--space-xlg);
  height: var(--space-xlg);
  background-color: var(--clr-grey-850);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.star-icon {
  width: 1.375rem;
  height:  1.375rem;
}

.star-icon polygon {
  fill: var(--clr-orange-500);
}

.rating--card--heading, .success--state--heading {
  color: var(--clr-white);
}

.message {
  color: var(--clr-grey-500);
  font-size: var(--fs-paragraph);
}

.btn--container {
  width: 100%;
  display: flex;
  gap: clamp(0.2rem, 2vw, var(--space-sm));
}

.rate--btn {
  all: unset;
  min-width: clamp(var(--space-xxlg), 13vw, 5rem);
  min-height: clamp(var(--space-xlg), 8vh, 5rem);
  color: var(--clr-grey-500);
  font-weight: var(--fw-bold);
  border-radius: 50%;
  border: 0.125rem solid var(--clr-grey-900);
  background-color: var(--clr-grey-850);
  outline: none;
  text-align: center;
  cursor: pointer;
  font-size: 0.7em;
  transition: trasform 3s ease-in, background-color 0.5s ease-in-out;
}

.rate--btn.active {
  background-color: var(--clr-white);
  border: 0.125rem solid var(--clr-orange-500);
}

@media (hover: hover) {
  .rate--btn:not(.active):hover {
    background-color: var(--clr-orange-500);
    transform: scale(1.10);
  }

  .submit--btn:not(:disabled):hover {
    background-color: var(--clr-white);
    transform: translateY(-0.2rem);
  }
}

.submit--btn {
  all: unset;
  width: 100%;
  font-weight: var(--fw-bold);
  color: var(--clr-grey-950);
  background-color: var(--clr-orange-500);
  border-radius: var(--space-lg);
  padding-block: 0.2rem;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.5s ease-in-out, transform 0.3s ease-in-out;
}

.submit--btn:disabled {
  cursor: not-allowed;
  opacity: 0.2;
}

.rate--btn, .submit--btn {
  -webkit-tap-highlight-color: transparent;
}

.success--state {
  align-items: center;
}

.hidden {
  display: none;
}

.selection--text {
  color: var(--clr-orange-500);
  background-color: var(--clr-grey-850);
  border-radius: var(--space-lg);
  padding: var(--space-xs) var(--space-sm);
  font-size: var(--fs-paragraph);
}

.success--state .message {
  text-align: justify;
  text-align-last: center;
}

@media  screen and (min-width: 32rem) {
  .rating--card, .success--state {
    width: 80%;
    max-width: 28rem;
    font-size: 1.8rem;
  }

  .btn--container {
    gap: 0.7rem;
  }

  .rate--btn {
    min-width: 4rem;
    height: 4rem;
  }

  .message {
    font-size: 1.1rem;
  }
}


@media screen and (min-width: 48rem) {

  .rating--card, .success--state {
    width: 60%;
    max-width: 28rem;
  }

   .rate--btn {
    width: 3.5rem;
    height: 3.8rem;
  }

}
